<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlackjackApp</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<div class="top-navigation-bar">
  <a class="active" href="#home">Blackjack Trainer</a>
  <a class="#create-account">Create Account</a>
  <a class="#login">Login</a>
  <a href="#settings">Settings</a>
  <a href="#about">About</a>
</div>

<body>

</body>

</html>

